<div class="row">
  <!-- header -->
  <div class="col-xs-12 col-lg-11 text-left">
    <h1 mat-dialog-title class="text-color">{{data.obj.nombre}}</h1>
  </div>
  <div class="col-xs-12 col-lg-1 text-right">
    <h1 mat-dialog-title class="text-color" style="cursor:pointer">
      <i class="fa fa-times" aria-hidden="true"
         (click)="onNoClick()"></i>
    </h1>
  </div>

  <div class="container" style="margin-bottom:15px">
    <div class="col-xs-12">
      <mat-divider></mat-divider>
    </div>
  </div>

  <div class="container" *ngIf="data.obj.type != 7">
    <div *ngIf="data.obj.type != 8">
      <div *ngIf="data.obj.type != 13">
        <div *ngIf="data.obj.type != 15">
          <div *ngIf="data.obj.type != 16">
            <div *ngIf="data.obj.type != 17">
              <div *ngIf="data.obj.type != 18">
                <div *ngIf="data.obj.type != 18">
                  <div *ngIf="data.obj.type != 19">
                    <div *ngIf="data.obj.type != 20">
                      <div *ngIf="data.obj.type != 10">
                        <div *ngIf="data.obj.type != 12">
                          <div *ngIf="data.obj.type != 11">
                            <div *ngIf="data.obj.type != 27">
                              <div *ngIf="data.obj.type != 14">
                                <div *ngIf="data.obj.type != 28">
                                  <div class="col-xs-12 margin-bottom">
                                    <label class="label" *ngIf="data.obj.type == 21 || data.obj.type == 22 || data.obj.type == 23 || data.obj.type == 24 || data.obj.type == 25 || data.obj.type == 29; else descripcion">Actividad</label><br />
                                    <ng-template #descripcion>
                                      <label class="label">Descripción</label>
                                    </ng-template>
                                    <!--<label class="label" *ngIf="data.obj.type == 12">Dirección</label><br />-->
                                    {{data.obj.actividad}}
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="data.obj.type == 1">
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Nombre</label><br />
      {{data.obj.nombre}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Capacidad</label><br />
      {{data.obj.no_personas}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Dirección</label><br />
      {{data.obj.direccion}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 2">
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Nombre</label><br />
      {{data.obj.nombre}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Descripción</label><br />
      {{data.obj.actividad}}
    </div>
    <div class="col-md-4">
      <label class="label">Taxonomia</label><br />
      {{data.obj.direccion}}
    </div>
    <div class="col-md-4">
      <label class="label">Intensidad</label><br />
      {{data.obj.riesgo}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Label</label><br />
      {{data.obj.riesgo_1}}
    </div>
    <div class="col-md-4">
      <label class="label">Región</label><br />
      {{data.obj.riesgo_2}}
    </div>
    <div class="col-md-4">
      <label class="label">RPVE</label><br />
      {{data.obj.riesgo_3}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 3">
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Nombre:</label><br />
      {{data.obj.nombre}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Calle y número</label><br />
      {{data.obj.riesgo}}
    </div>
    <div class="col-md-12">
      <label class="label">Colonia</label><br />
      {{data.obj.riesgo_1}}
    </div>
    <div class="col-md-12">
      <label class="label">label:</label><br />
      {{data.obj.riesgo_2}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Capacidad:</label><br />
      {{data.obj.no_personas}}
    </div>
    <div class="col-md-12">
      <label class="label">Fuente:</label><br />
      {{data.obj.fuente}}
    </div>
    <div class="col-md-4">
      <label class="label">Región:</label><br />
      {{data.obj.region}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 4">
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Fenomeno</label><br />
      {{data.obj.nombre}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Intensidad</label><br />
      {{data.obj.no_personas}}
    </div>

    <div class="col-md-4">
      <label class="label">Taxonomia</label><br />
      {{data.obj.direccion}}
    </div>

    <div class="col-md-4">
      <label class="label">rpve</label><br />
      {{data.obj.region}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Fuente:</label><br />
      {{data.obj.fuente}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 5">
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Alcaldía</label><br />
      {{data.obj.nombre}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Dirección</label><br />
      {{data.obj.direccion}}
    </div>
    <div class="col-md-4">
      <label class="label">Superficie</label><br />
      {{data.obj.no_personas}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 6">
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Tipo de residuo</label><br />
      {{data.obj.nombre}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-6">
      <label class="label">Dirección</label><br />
      {{data.obj.direccion}}
    </div>
    <div class="col-md-6">
      <label class="label">Capacidad en toneladas</label><br />
      {{data.obj.no_personas}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 7">
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Delito</label><br />
      {{data.obj.nombre}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-3">
      <label class="label">Dirección</label><br />
      {{data.obj.direccion}}
    </div>
    <div class="col-md-3">
      <label class="label">Categoría delito</label><br />
      {{data.obj.actividad}}
    </div>
    <div class="col-md-3">
      <label class="label">Año de inicio</label><br />
      {{data.obj.region}}
    </div>
    <div class="col-md-3">
      <label class="label">Año de hecho</label><br />
      {{data.obj.no_personas}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 8">
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Delito</label><br />
      {{data.obj.nombre}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-3" *ngIf="data.obj.direccion != null">
      <label class="label">Sexo</label><br />
      {{data.obj.direccion}}
    </div>
    <div class="col-md-3" *ngIf="data.obj.fuente != null">
      <label class="label">Direccion</label><br />
      {{data.obj.fuente}}
    </div>
    <div class="col-md-3">
      <label class="label">Categoría</label><br />
      {{data.obj.actividad}}
    </div>
    <div class="col-md-3" *ngIf="data.obj.region != null">
      <label class="label">Mes</label><br />
      {{data.obj.region}}
    </div>
    <div class="col-md-3" *ngIf="data.obj.riesgo != null">
      <label class="label">Año Inicio</label><br />
      {{data.obj.riesgo}}
    </div>
    <div class="col-md-3">
      <label class="label">Año Hecho</label><br />
      {{data.obj.no_personas}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 9">
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Nombre</label><br />
      {{data.obj.nombre}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-3">
      <label class="label">Dirección</label><br />
      {{data.obj.direccion}}
    </div>
    <div class="col-md-3">
      <label class="label">Clasificacion alarma</label><br />
      {{data.obj.actividad}}
    </div>
    <div class="col-md-3">
      <label class="label">Tipo entrada</label><br />
      {{data.obj.region}}
    </div>
    <div class="col-md-3">
      <label class="label">Año</label><br />
      {{data.obj.no_personas}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 10">
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Nombre</label><br />
      {{data.obj.nombre}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Dirección</label><br />
      {{data.obj.direccion}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Servicios</label><br />
      {{data.obj.actividad}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Correo eletrónico</label><br />
      {{data.obj.region}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">teléfono</label><br />
      {{data.obj.no_personas}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 11">

  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Temblor</label><br />
      {{data.obj.riesgo}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Sismos</label><br />
      {{data.obj.riesgo_1}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Terremoto</label><br />
      {{data.obj.riesgo_2}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Vulcanismo</label><br />
      {{data.obj.riesgo_3}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Caída de ceniza</label><br />
      {{data.obj.riesgo_4}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Deslizamiento de suelo</label><br />
      {{data.obj.riesgo_5}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Flujos de lodo</label><br />
      {{data.obj.riesgo_6}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Agrietamiento en construcciones</label><br />
      {{data.obj.riesgo_7}}
    </div>
  </div>

  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Agrietamiento en pisos</label><br />
      {{data.obj.riesgo_8}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 12">
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Colonia</label><br />
      {{data.obj.actividad}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Nombre</label><br />
      {{data.obj.nombre}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">
        ¿Cuentan con personal capacitado en caso de una emergencia?
      </label><br />
      {{data.obj.direccion}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">
        ¿Cuentan con seguro de responsabilidad civil?
      </label><br />
      {{data.obj.no_personas}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">
        Frecuencia con la que realizan simulacros
      </label><br />
      {{data.obj.region}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Número de departamentos y/o edificios</label><br />
      {{data.obj.fuente}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">¿Tienen protocolo de actuación en casa de riesgo?</label><br />
      {{data.obj.riesgo}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 13">
  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Granizadas</label><br />
      {{data.obj.riesgo_2}}
    </div>
    <div class="col-md-4">
      <label class="label">Inundaciones</label><br />
      {{data.obj.direccion}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Inversión térmica</label><br />
      {{data.obj.no_personas}}
    </div>
    <div class="col-md-4">
      <label class="label">Lluvia torrencial</label><br />
      {{data.obj.region}}
    </div>
    <div class="col-md-4">
      <label class="label">Nevadas</label><br />
      {{data.obj.fuente}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Escases de agua</label><br />
      {{data.obj.riesgo}}
    </div>
    <div class="col-md-4">
      <label class="label">Sequía</label><br />
      {{data.obj.riesgo_1}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 14">
  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Derrame de hidrocarburos</label><br />
      {{data.obj.riesgo_2}}
    </div>
    <div class="col-md-4">
      <label class="label">Envenenamiento</label><br />
      {{data.obj.direccion}}
    </div>
    <div class="col-md-4">
      <label class="label">Epidemias</label><br />
      {{data.obj.no_personas}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Fugas de gas</label><br />
      {{data.obj.region}}
    </div>
    <div class="col-md-4">
      <label class="label">Incendios forestales</label><br />
      {{data.obj.fuente}}
    </div>
    <div class="col-md-4">
      <label class="label">Explosiones</label><br />
      {{data.obj.riesgo_4}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Incendios urbano</label><br />
      {{data.obj.riesgo}}
    </div>
    <div class="col-md-4">
      <label class="label">Intoxicaciones</label><br />
      {{data.obj.riesgo_1}}
    </div>
    <div class="col-md-4">
      <label class="label">Radiación</label><br />
      {{data.obj.riesgo_3}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 15">
  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Contaminación de aire</label><br />
      {{data.obj.riesgo}}
    </div>
    <div class="col-md-4">
      <label class="label">Contaminación de suelo </label><br />
      {{data.obj.riesgo_1}}
    </div>
    <div class="col-md-4">
      <label class="label">Contaminación de agua</label><br />
      {{data.obj.riesgo_2}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Contaminación de auditiva</label><br />
      {{data.obj.riesgo_3}}
    </div>
    <div class="col-md-4">
      <label class="label">Contaminación de visual</label><br />
      {{data.obj.riesgo_4}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 16">
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Lugar de entrevista</label><br />
      {{data.obj.nombre}}
    </div>
    <div class="col-md-12">
      <label class="label">Dirección</label><br />
      {{data.obj.direccion}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 17">
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Nombre responsable establecimiento</label><br />
      {{data.obj.riesgo}}
    </div>
    <div class="col-md-12">
      <label class="label">No. de camas, habitaciones, locales</label><br />
      {{data.obj.riesgo_2}}
    </div>
    <div class="col-md-12">
      <label class="label">No. de personas atiende al día</label><br />
      {{data.obj.direccion}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">No. de personas trabajan inmueble</label><br />
      {{data.obj.no_personas}}
    </div>
    <div class="col-md-12">
      <label class="label">Perfil personas</label><br />
      {{data.obj.region}}
    </div>
    <div class="col-md-12">
      <label class="label">Tipo inmueble</label><br />
      {{data.obj.fuente}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 18">
  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Nombre</label><br />
      {{data.obj.nombre}}
    </div>
    <div class="col-md-4">
      <label class="label">Bardas en muy mal estado</label><br />
      {{data.obj.riesgo_2}}
    </div>
    <div class="col-md-4">
      <label class="label">Contaminación de Agua</label><br />
      {{data.obj.direccion}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Contaminación de aire</label><br />
      {{data.obj.no_personas}}
    </div>
    <div class="col-md-4">
      <label class="label">Contaminación de suelo</label><br />
      {{data.obj.region}}
    </div>
    <div class="col-md-4">
      <label class="label">Contaminación visual</label><br />
      {{data.obj.fuente}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 19">
  <div class="row margin-bottom">
    <div class="col-md-12">
      {{data.obj.direccion}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 20">
  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Alcantarillado dañado</label><br />
      {{data.obj.riesgo_14}}
    </div>
    <div class="col-md-4">
      <label class="label">Arboles muy grandes</label><br />
      {{data.obj.riesgo_2}}
    </div>
    <div class="col-md-4">
      <label class="label">Bacheado condiciones deplorables</label><br />
      {{data.obj.direccion}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Bardas mal estado</label><br />
      {{data.obj.no_personas}}
    </div>
    <div class="col-md-4">
      <label class="label">Calles alumbrado insuficiente</label><br />
      {{data.obj.region}}
    </div>
    <div class="col-md-4">
      <label class="label">Calles cerradas completo</label><br />
      {{data.obj.fuente}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Calles invadidas grupos delictivos</label><br />
      {{data.obj.riesgo}}
    </div>
    <div class="col-md-4">
      <label class="label">Calles pesimo estado</label><br />
      {{data.obj.riesgo_1}}
    </div>
    <div class="col-md-4">
      <label class="label">Coladeras obstruidas</label><br />
      {{data.obj.riesgo_3}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Esquinas calle mal estado</label><br />
      {{data.obj.riesgo_4}}
    </div>
    <div class="col-md-4">
      <label class="label">Mufa</label><br />
      {{data.obj.riesgo_5}}
    </div>
    <div class="col-md-4">
      <label class="label">Negocios contribuyan contaminación</label><br />
      {{data.obj.riesgo_6}}
    </div>
  </div>

  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Negocios representen riesgo</label><br />
      {{data.obj.riesgo_7}}
    </div>
    <div class="col-md-4">
      <label class="label">Parques abandono</label><br />
      {{data.obj.riesgo_8}}
    </div>
    <div class="col-md-4">
      <label class="label">Postes mal estado</label><br />
      {{data.obj.riesgo_9}}
    </div>
  </div>

  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Riesgo eléctrico</label><br />
      {{data.obj.riesgo_10}}
    </div>
    <div class="col-md-4">
      <label class="label">Socavon</label><br />
      {{data.obj.riesgo_11}}
    </div>
    <div class="col-md-4">
      <label class="label">Terrenos baldios basura</label><br />
      {{data.obj.riesgo_12}}
    </div>
  </div>

  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Vialidad interrumpida rejas</label><br />
      {{data.obj.riesgo_13}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 21">
  <div class="row margin-bottom">
    <div class="col-md-12">
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 22">
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Nombre</label><br />
      {{data.obj.nombre}}
    </div>
    <div class="col-md-12">
      <label class="label">NombAsent</label><br />
      {{data.obj.region}}
    </div>
    <div class="col-md-12">
      <label class="label">NomVE1</label><br />
      {{data.obj.riesgo}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">NomVE2</label><br />
      {{data.obj.riesgo_1}}
    </div>
    <div class="col-md-12">
      <label class="label">NomVE3</label><br />
      {{data.obj.riesgo_2}}
    </div>
    <div class="col-md-12" *ngIf="data.obj.riesgo_3 != undefined">
      <label class="label">NomCenCom</label><br />
      {{data.obj.riesgo_3}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">TipoAsent</label><br />
      {{data.obj.riesgo_4}}
    </div>
    <div class="col-md-12">
      <label class="label">TipoCenCom</label><br />
      {{data.obj.riesgo_5}}
    </div>
    <div class="col-md-12">
      <label class="label">TipoUniEco</label><br />
      {{data.obj.riesgo_6}}
    </div>
  </div>
  <div class="row margin-bottom">

    <div class="col-md-12">
      <label class="label">TipoVE1</label><br />
      {{data.obj.riesgo_7}}
    </div>
    <div class="col-md-12">
      <label class="label">TipoVE2</label><br />
      {{data.obj.riesgo_8}}
    </div>
    <div class="col-md-12">
      <label class="label">TipoVE3</label><br />
      {{data.obj.riesgo_9}}
    </div>
  </div>

  <div class="row margin-bottom">

    <div class="col-md-12">
      <label class="label">Tipo vial</label><br />
      {{data.obj.riesgo_10}}
    </div>
    <div class="col-md-12">
      <label class="label">Razón social</label><br />
      {{data.obj.riesgo_11}}
    </div>

  </div>

  <div class="row margin-bottom">

    <div class="col-md-12">
      <label class="label">Número ext</label><br />
      {{data.obj.riesgo_12}}
    </div>
    <div class="col-md-12">
      <label class="label">Número int</label><br />
      {{data.obj.riesgo_13}}
    </div>
    <div class="col-md-12" *ngIf="data.obj.riesgo_14 != 'undefined'">
      <label class="label">Número local</label><br />
      {{data.obj.riesgo_14}}
    </div>
  </div>

  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Letra ext </label><br />
      {{data.obj.riesgo_15}}
    </div>
    <div class="col-md-12">
      <label class="label">Letra int</label><br />
      {{data.obj.riesgo_16}}
    </div>
    <div class="col-md-12">
      <label class="label">Edificio </label><br />
      {{data.obj.riesgo_17}}
    </div>
  </div>

  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Edificio E</label><br />
      {{data.obj.riesgo_18}}
    </div>
    <div class="col-md-12" *ngIf="data.obj.riesgo_19 != 'undefined'">
      <label class="label">CodPostal</label><br />
      {{data.obj.riesgo_19}}
    </div>
    <div class="col-md-12">
      <label class="label">CodigoAct </label><br />
      {{data.obj.riesgo_20}}
    </div>
  </div>

  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">
        CveEnt
      </label><br />
      {{data.obj.riesgo_21}}
    </div>
    <div class="col-md-12">
      <label class="label">CveLoc</label><br />
      {{data.obj.riesgo_22}}
    </div>
    <div class="col-md-12">
      <label class="label">cveMun</label><br />
      {{data.obj.riesgo_23}}
    </div>
  </div>

  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">
        Entidad
      </label><br />
      {{data.obj.riesgo_24}}
    </div>
    <div class="col-md-12">
      <label class="label">Localidad</label><br />
      {{data.obj.riesgo_25}}
    </div>
    <div class="col-md-12">
      <label class="label">Manzana</label><br />
      {{data.obj.riesgo_26}}
    </div>
  </div>

  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">
        Alcaldía
      </label><br />
      {{data.obj.riesgo_27}}
    </div>
    <div class="col-md-12">
      <label class="label">Nombre vial</label><br />
      {{data.obj.riesgo_28}}
    </div>
    <div class="col-md-12">
      <label class="label">Teléfono</label><br />
      {{data.obj.riesgo_29}}
    </div>
  </div>

  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">
        Correo eléctronico
      </label><br />
      {{data.obj.riesgo_30}}
    </div>
    <div class="col-md-12">
      <label class="label">Página web</label><br />
      {{data.obj.riesgo_31}}
    </div>
    <div class="col-md-12">
      <label class="label">Fecha alta</label><br />
      {{data.obj.riesgo_32}}
    </div>
  </div>

  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">PerOcu</label><br />
      {{data.obj.no_personas}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 23">
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Nombre</label><br />
      {{data.obj.nombre}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Capacidad</label><br />
      {{data.obj.no_personas}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Dirección</label><br />
      {{data.obj.direccion}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 24">
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Nombre</label><br />
      {{data.obj.nombre}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Capacidad</label><br />
      {{data.obj.no_personas}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Dirección</label><br />
      {{data.obj.direccion}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 25">
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Nombre</label><br />
      {{data.obj.nombre}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Capacidad</label><br />
      {{data.obj.no_personas}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Dirección</label><br />
      {{data.obj.direccion}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 26">
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Alcaldía</label><br />
      {{data.obj.nombre}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-6">
      <label class="label">Dirección</label><br />
      {{data.obj.direccion}}
    </div>
    <div class="col-md-6">
      <label class="label">Superficie</label><br />
      {{data.obj.no_personas}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Altura</label><br />
      {{data.obj.region}}
    </div>
    <div class="col-md-4">
      <label class="label">Area libre</label><br />
      {{data.obj.riesgo}}
    </div>
    <div class="col-md-4">
      <label class="label">Cuenta catastral</label><br />
      {{data.obj.riesgo_1}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-4">
      <label class="label">Densidad descripcion</label><br />
      {{data.obj.riesgo_2}}
    </div>
    <div class="col-md-4">
      <label class="label">Minimo vivienda</label><br />
      {{data.obj.region_3}}
    </div>
    <div class="col-md-4">
      <label class="label">Niveles</label><br />
      {{data.obj.riesgo_4}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12" style="word-wrap: break-word;">
      <label class="label">Liga Ciudad mx</label><br />
      {{data.obj.riesgo_5}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 27">
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Alcaldía</label><br />
      {{data.obj.direccion}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Colonia</label><br />
      {{data.obj.nombre}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Territorial</label><br />
      {{data.obj.region}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Tipo fenómeno</label><br />
      {{data.obj.fuente}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Tipo de riesgo</label><br />
      {{data.obj.actividad}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 28">
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Bardas en muy mal estado</label><br />
      {{data.obj.riesgo}}
    </div>
    <div class="col-md-12">
      <label class="label">Árboles muy grandes que obstruyan cableado con raíces que levanten el pavimento</label><br />
      {{data.obj.riesgo_1}}
    </div>
    <div class="col-md-12">
      <label class="label">Postes telefónicos o de luz en mal estado</label><br />
      {{data.obj.riesgo_2}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Calles en pésimo estado de pavimentación</label><br />
      {{data.obj.riesgo_3}}
    </div>
    <div class="col-md-12">
      <label class="label">Alcantarillado dañado</label><br />
      {{data.obj.riesgo_4}}
    </div>
    <div class="col-md-12">
      <label class="label">Bacheado en condiciones deplorables</label><br />
      {{data.obj.riesgo_5}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Coladeras obstruidas por basura o sin tapa</label><br />
      {{data.obj.riesgo_6}}
    </div>
    <div class="col-md-12">
      <label class="label">Esquinas de calle en mal estado y sin rampa de discapacidad</label><br />
      {{data.obj.riesgo_7}}
    </div>
    <div class="col-md-12">
      <label class="label">Calles o avenidas con alumbrado insuficiente</label><br />
      {{data.obj.riesgo_8}}
    </div>
  </div>
  <div class="row margin-bottom">

    <div class="col-md-12">
      <label class="label">Terrenos o baldíos con basura</label><br />
      {{data.obj.riesgo_9}}
    </div>
    <div class="col-md-12">
      <label class="label">Vialidad interrumpida por rejas o cadenas de acceso</label><br />
      {{data.obj.riesgo_10}}
    </div>
    <div class="col-md-12">
      <label class="label">Parques en abandono</label><br />
      {{data.obj.riesgo_11}}
    </div>
  </div>

  <div class="row margin-bottom">

    <div class="col-md-12">
      <label class="label">Negocios que representen riesgo a la comunidad por su giro de venta</label><br />
      {{data.obj.riesgo_12}}
    </div>
    <div class="col-md-12">
      <label class="label">Calles invadidas por grupos delictivos</label><br />
      {{data.obj.riesgo_13}}
    </div>
    <div class="col-md-12">
      <label class="label">Negocios o empresas que contribuyan a la contaminación</label><br />
      {{data.obj.riesgo_14}}
    </div>
  </div>

  <div class="row margin-bottom">

    <div class="col-md-12">
      <label class="label">Calles cerradas por completo</label><br />
      {{data.obj.fuente}}
    </div>
    <div class="col-md-12">
      <label class="label">Riesgo eléctrico</label><br />
      {{data.obj.no_personas}}
    </div>
    <div class="col-md-12">
      <label class="label">Socavón</label><br />
      {{data.obj.region}}
    </div>
  </div>

  <div class="row margin-bottom">

    <div class="col-md-12">
      <label class="label">Mufa </label><br />
      {{data.obj.direccion}}
    </div>
  </div>
</div>

<div *ngIf="data.obj.type == 29">
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Nombre</label><br />
      {{data.obj.nombre}}
    </div>
    <div class="col-md-12">
      <label class="label">NombAsent</label><br />
      {{data.obj.region}}
    </div>
    <div class="col-md-12">
      <label class="label">NomVE1</label><br />
      {{data.obj.riesgo}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">NomVE2</label><br />
      {{data.obj.riesgo_1}}
    </div>
    <div class="col-md-12">
      <label class="label">NomVE3</label><br />
      {{data.obj.riesgo_2}}
    </div>
    <div class="col-md-12"  *ngIf="data.obj.riesgo_3 != undefined">
      <label class="label">NomCenCom</label><br />
      {{data.obj.riesgo_3}}
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">TipoAsent</label><br />
      {{data.obj.riesgo_4}}
    </div>
    <div class="col-md-12">
      <label class="label">TipoCenCom</label><br />
      {{data.obj.riesgo_5}}
    </div>
    <div class="col-md-12">
      <label class="label">TipoUniEco</label><br />
      {{data.obj.riesgo_6}}
    </div>
  </div>
  <div class="row margin-bottom">

    <div class="col-md-12">
      <label class="label">TipoVE1</label><br />
      {{data.obj.riesgo_7}}
    </div>
    <div class="col-md-12">
      <label class="label">TipoVE2</label><br />
      {{data.obj.riesgo_8}}
    </div>
    <div class="col-md-12">
      <label class="label">TipoVE3</label><br />
      {{data.obj.riesgo_9}}
    </div>
  </div>

  <div class="row margin-bottom">

    <div class="col-md-12">
      <label class="label">Tipo vial</label><br />
      {{data.obj.riesgo_10}}
    </div>
    <div class="col-md-12">
      <label class="label">Razón social</label><br />
      {{data.obj.riesgo_11}}
    </div>
    <div class="col-md-12" *ngIf="data.obj.direccion != undefined">
      <label class="label">Dirección</label><br />
      {{data.obj.direccion}}
    </div>
  </div>

  <div class="row margin-bottom">

    <div class="col-md-12">
      <label class="label">Número ext</label><br />
      {{data.obj.riesgo_12}}
    </div>
    <div class="col-md-12">
      <label class="label">Número int</label><br />
      {{data.obj.riesgo_13}}
    </div>
    <div class="col-md-12" *ngIf="data.obj.riesgo_14 != undefined">
      <label class="label">Número local</label><br />
      {{data.obj.riesgo_14}}
    </div>
  </div>

  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Letra ext </label><br />
      {{data.obj.riesgo_15}}
    </div>
    <div class="col-md-12">
      <label class="label">Letra int</label><br />
      {{data.obj.riesgo_16}}
    </div>
    <div class="col-md-12">
      <label class="label">Edificio </label><br />
      {{data.obj.riesgo_17}}
    </div>
  </div>

  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Edificio E</label><br />
      {{data.obj.riesgo_18}}
    </div>
    <div class="col-md-12" *ngIf="data.obj.riesgo_19 != undefined">
      <label class="label">CodPostal</label><br />
      {{data.obj.riesgo_19}}
    </div>
    <div class="col-md-12">
      <label class="label">CodigoAct </label><br />
      {{data.obj.riesgo_20}}
    </div>
  </div>

  <div class="row margin-bottom">
    <div class="col-md-12">
      <label class="label">Fecha alta</label><br />
      {{data.obj.riesgo_21}}
    </div>
    <div class="col-md-12">
      <label class="label">PerOcu</label><br />
      {{data.obj.no_personas}}
    </div>
  </div>
</div>
